name: CI

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: fiddling around
        run: env | sort

      - name: fiddling around
        run: /usr/bin/git config --get user.name

      - name: fiddling around
        run: /usr/bin/git config --get user.email
