name: CI

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: env
        run: env | sort

      - name: origin
        run: git remote show origin

      - name: git user
        run: |
          git config --global user.name "Florian Sattler"
          git config --global user.email "dev@florian-sattler.de"

      - name: fiddling around
        run: |
          git remote rm origin
          git remote add origin "https://x-access-token:${GITHUB_TOKEN}@github.com"/${GITHUB_REPOSITORY}.git"
          git remote show origin
